<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div class="logo-buffalo">
        <img th:src="@{/images/logo.png}" alt="Logo" />
    </div>
    <nav>
        <ul>
            <li>Trang chủ</li>
            <li>Top Tác Phẩm</li>
            <li>Top Tác Giả</li>
            <li>Thảo luận</li>
            <li>Thể loại</li>
            <li>Cống hiến</li>
            <li>Đăng nhập</li>
        </ul>
    </nav>
</header>
</html>