<!DOCTYPE html>
<html lang="en-vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NoteLibRead</title>
    <!-- Đưa các css có liên qua đến header và footer ra home để nó chạy nguyên trang -->
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div th:replace="layout/header :: header"></div>

<div th:insert="layout/footer :: footer"></div>
</body>
</html>